@model Entities.Actor


@*<div>
        <h4>Actor</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Wikipedia)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Wikipedia)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.FacebookLink)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.FacebookLink)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.InstagramLink)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.InstagramLink)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.TwitterLink)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.TwitterLink)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CoverPhoto)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CoverPhoto)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Photo)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Photo)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IsFeatured)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IsFeatured)
            </dd>
        </dl>
    </div>*@

<!-- main title -->
<div class="col-12">
    <div class="main__title">
        <h2>Actor Details</h2>
    </div>
</div>
<!-- end main title -->
<!-- form -->
<div class="col-12">
    <form class="form" method="post" enctype="multipart/form-data">
        <div class="row">

            <div class="col-12 col-md-12 form__cover">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-6">
                        <div class="form__img">
                            <label for="form__img-upload">Photo</label>
                            <img id="form__img" src=" @Html.DisplayFor(model => model.Photo)" alt=" ">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6">
                        <div class="form__img">
                            <label for="form__img-upload"> Cover Photo</label>
                            <img id="form__img" src=" @Html.DisplayFor(model => model.CoverPhoto)" alt=" ">
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-7 form__content">
                <div class="row">
                    <div class="col-12">
                        <div class="form__group">
                            <input asp-for="Name" disabled class="form__input" name="Name" placeholder="Title">
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form__group">
                            <textarea disabled asp-for="Wikipedia" id="text" class="form__textarea" placeholder="Description"></textarea>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form__group">
                            <input disabled asp-for="InstagramLink" type="text" class="form__input" placeholder="Release year">
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form__group">
                            <input disabled asp-for="FacebookLink" type="text" class="form__input" placeholder="Running timed in minutes">
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="form__group">
                            <input disabled asp-for="TwitterLink" type="text" class="form__input" placeholder="Age">
                        </div>
                    </div>

                    <div class="col-12 col-sm-8 col-lg-6">
                        <label style="color:white;" for="type2">IsFeatured?</label>

                        <div class="form__group">


                            <input disabled asp-for="IsFeatured" value="@(Model.IsFeatured? "yes" : "No")" type="text" class="form__input" placeholder="featured">



                        </div>
                    </div>
                </div>
            </div>

            <div>
                <a  asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>

        </div>
    </form>
</div>
<!-- end form -->

